body {
    font-family: Arial;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    width: 200px;
}

/* Card */
.card {
    background: #f4f4f4;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}