body {
    font-family: Arial;
    text-align: center;
}

.faq {
    width: 300px;
    margin: auto;
    text-align: left;
}

.q {
    background: #2c3e50;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.a {
    display: none;
    padding: 10px;
    background: #f4f4f4;
}