body {
    margin: 0;
    font-family: Arial;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    background: #2c3e50;
    color: white;
    padding: 10px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    color: black;
    top: 25px;
}

.dropdown-content a {
    display: block;
    padding: 8px;
    color: black;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Mobile */
.toggle {
    display: none;
    cursor: pointer;
}

/* Responsive */
@media(max-width:600px) {
    .menu {
        display: none;
        flex-direction: column;
        background: #2c3e50;
        position: absolute;
        top: 50px;
        right: 0;
        width: 150px;
    }

    .menu.show {
        display: flex;
    }

    .toggle {
        display: block;
    }
}