body {
    font-family: Arial;
    text-align: center;
}

#skills {
    width: 300px;
    margin: 20px auto;
}

.skill {
    margin: 10px 0;
    text-align: left;
}

/* Bar background */
.bar {
    background: #ddd;
    border-radius: 5px;
}

/* Filled bar */
.fill {
    background: #2c3e50;
    color: white;
    padding: 5px;
    border-radius: 5px;
}