body {
    font-family: Arial;
    text-align: center;
}

/* Item row */
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 15px;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

/* Image */
.item img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

/* Buttons */
button {
    padding: 5px 10px;
    cursor: pointer;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 10px auto;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}