body {
    font-family: Arial;
    text-align: center;
}

/* Grid */
#gallery {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

/* Item */
.item {
    position: relative;
    overflow: hidden;
}

/* Image */
.item img {
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

/* Zoom */
.item:hover img {
    transform: scale(1.2);
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.item:hover .overlay {
    opacity: 1;
}